.Card {
    border-radius: 0.2rem;
    border: 1px solid #212529;
    padding: 1rem;

    box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.1);

    overflow-y: auto;

}

.LeftPanel {
    /* grid of 4 rows */
    display: grid;
    grid-template-rows: 1fr 1fr 3fr 3fr;
    gap: 1em;
    height: 100%;
}